<div class="container">
  <h1>Users</h1>
</div>

<div class="container">
  <%= link_to 'Add User', new_user_path, class: "btn btn-primary"%>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <!-- div class="card" -->
      <div class = "cards">
        <% @users.each do |user| %>

          <%= link_to user do %>
            <h2>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github}", class: "img-circle", style: 'width: 50px' %>
              <%= user.name %>
            </h2>
          <% end %>
          <p>GitHub: <%= user.github %> | Job: <%= user.job %> |

          <%= link_to user_path(user), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_user"></i>
                <% end %>



          </p>
        <% end %>
      <br>
      </div>
    </div>
  </div>
</div>

